

button {
    background-color: #9909f9;
    color: white;
    padding: 8px 15px;
    border: 2px solid black;
    cursor: pointer;
    
}

.btns {
    margin-right: 150px;
    border-radius: 8px;
}

h1{
    text-align: center;
}


button:hover {
    background-color: #45a049;
}


.apiHandler {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: blue;
    width: 100%;
    height:45px ;
}

 .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
 }
