

.Parent-div {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #0056b3;
}

.subscribed-message {
  font-size: 20px;
  color: #333;
  text-align: center;
}


.not-subscribed-message {
  font-size: 18px;
  color: #888;
  text-align: center;
}


